
.contact-map {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2e2e2e;
  }
  @media (max-width: 767px) {
    .contact-map .content {
      text-align: center;
    }
    .contact-map .content > div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .contact-map .map {
    height: 18.75rem;
  }
  @media (max-width: 767px) {
    .contact-map .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .contact-map .footer-lower hr {
    margin: 1rem 0;
    border-color: #fff;
    opacity: .05;
  }
  .contact-map .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .contact-map .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #fff;
  }
  .contact-map .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
  .contact-map .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .contact-map .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .contact-map .footer-lower .social-list {
      justify-content: center;
      -webkit-justify-content: center;
    }
  }
  .contact-map .google-map {
    height: 25rem;
    position: relative;
  }
  .contact-map .google-map iframe {
    height: 100%;
    width: 100%;
  }
  .contact-map .google-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .contact-map .google-map[data-state] {
    background: #e9e5dc;
  }
  .contact-map .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }


  .media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start; }
    .media-container-row .media-size-item {
      width: 400px; }
  
      .mbr-white {
    color: #ffffff; }
  
  .mbr-black {
    color: #000000; }
  
  .mbr-bg-white {
    background-color: #ffffff; }
  
  .mbr-bg-black {
    background-color: #000000; }
  

  section,
  .container,
  .container-fluid {
    position: relative;
    word-wrap: break-word; }
  
  a.mbr-iconfont:hover {
    text-decoration: none; }
  
  .article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
    margin-bottom: 0; }