
<!-- Contact Section -->

<div class="w3-row-padding w3-container  bg-black" style="padding:64px 32px;" id="contato">
    <h1 class="w3-center text-w" style="font-size: 40px; font-weight: 700;">Contato</h1>
    <div class="w3-col m6 text-w">
      <p class="mbr-text">
          <strong>Endereço</strong>
          <br>
          <a class="text-y" href="https://www.google.com/maps/dir//R.+Prof.+José+de+Barros+Pinto+193C/">
            <br>R. Prof. José de Barros Pinto, 193B e 193C
            <br>Vila Frugoli, São Paulo - SP, 03674-040
          </a>
          <br>
          <br><strong>Contato</strong>
          <br>
          <br>Email: <a href="mailto:iberiamoveis@gmail.com" class="text-y">iberiamoveis@gmail.com</a>
          <br>Telefone: <a href="tel:+551137562605" class="text-y">(11) 3756-2605</a> 
          <br>WhatsApp: <a href="tel:+5511988413302" class="text-y">(11) 98841-3302</a> 
          <br>
          <br><strong>Redes Sociais</strong>
          <br>
          <br>Instagram: <a href="https://www.instagram.com/marcenaria.iberia" class="text-y">@marcenaria.iberia</a>
          <br>
      </p>
    </div>
    <div class="w3-col m6">
      <div style="margin-top:32px; overflow:hidden;width: 100%;position: relative;">
        <!-- <iframe width="100%" height="440" style="border:0" src="https://www.google.com/maps/embed?key=AIzaSyDsmOVpjte6zvtKLK2fma50QUIDdrqImSk&pb=!1m14!1m8!1m3!1d7316.737170417157!2d-46.499788!3d-23.519242!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6095a2366c21%3A0x1a785f586db516fe!2sR.%20Prof.%20Jos%C3%A9%20de%20Barros%20Pinto%2C%20193b%20-%20Vila%20Frugoli%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003674-040!5e0!3m2!1spt-BR!2sbr!4v1572806782250!5m2!1spt-BR!2sbr" allowfullscreen="" frameborder="0"></iframe> -->
          <a class="text-y" href="https://www.google.com/maps/dir//R.+Prof.+José+de+Barros+Pinto+193C/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=R.+Prof.+José+de+Barros+Pinto+193C&zoom=15&scale=false&size=440x440&maptype=roadmap&key=AIzaSyDsmOVpjte6zvtKLK2fma50QUIDdrqImSk&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CR.+Prof.+José+de+Barros+Pinto+193C" alt="Localização no Google Maps"></a>
      </div>
    </div>
    <a rel="noopener noreferrer" 
       href="https://api.whatsapp.com/send?phone=5511988413302&text=Ol%C3%A1%2C+quero+solicitar+um+or%C3%A7amento."
       class="float" target="_blank">
       <i class="fa fa-whatsapp my-float"></i>
    </a>
  </div>
  
  <script>
  var mySidebar = document.getElementById("mySidebar");
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>